<h1>Please add a new product here</h1>

<form action="/products" method="post">
  <p>title: <input type="text" name="title"></p>
  <p>price: <input type="text" name="price"></p>
  <p>image_url: <input type="text" name="image_url"></p>
  <p>description: <input type="text" name="description"></p>
  <p>supplier: <input type="text" name="description"></p>
</form>