<h1>Please add a new product here</h1>

<form action="/products" method="post">
  <p>name: <input type="text" name="name"></p>
  <p>price: <input type="text" name="price"></p>
  <p>description: <input type="text" name="description"></p>
  <!-- <p>supplier_id: <input type="text" name="supplier_id"></p> -->
<!--   <p><select name="supplier_id">
    <option value="1">Beyond Hobbies and Games</option>
    <option value="2">Infinity Games</option>
    <option value="3">Wizards of the Coast</option>
    <option value="4">Blackthorn Game Supply</option>
  </select></p> -->
  <p><select name="supplier_id">
    <% @suppliers.each do |supplier| %>
      <option value="<%= supplier.id %>"><%= supplier.name %></option>
    <% end %>
  </select></p>
  <input type="submit" value="Add A New Product">
</form>